<div class="px-7">
  <hr>
  <div class="row">
    <div class="col-12 col-xl pay-method-row" style="float: left">
      <img class="pay-method" src="assets/images/pay-methods/logo-mastercard.webp" alt=""/>
      <img class="pay-method" style="margin-left: 5px" src="assets/images/pay-methods/logo-visa.webp" alt=""/>
      <img class="pay-method" style="margin-left: 5px" src="assets/images/pay-methods/logo-mir.webp" alt=""/>
      <img class="pay-method" style="margin-left: 5px" src="assets/images/pay-methods/logo-unionpay.webp" alt=""/>
      <img class="pay-method" style="margin-left: 5px" src="assets/images/pay-methods/logo-applepay.webp" alt=""/>
      <img class="pay-method" style="margin-left: 5px" src="assets/images/pay-methods/logo-google-pay.webp" alt=""/>
    </div>
    <div class="col-12 col-lg" style="text-align:center;">
      <a style="cursor: pointer;" href="">
        <i class="bi bi-discord" style="font-size: 2rem"></i>
      </a>
    </div>
    <div class="col-xl d-none d-xl-flex"></div>
  </div>
  <div class="col" style="text-align:center;">
    <P class="text-small-secondary" style="margin: 0">Copyright © 2142 FPS Booster</P>
    <P class="text-small-secondary">Powered by RainRainich</P>
  </div>
</div>
