<div class="row" style="margin: 0">
  <div class="text-center-less-xxl col-xxl-5 px-7">
    <app-header></app-header>
    <P class="first-p big-text mt-10">Do you want to increase FPS?</P>
    <P class="big-text" style="color: rgb(1,106,239)">Welcome to FPS Booster</P>
    <P class="text-5">
      Turn a non-gaming PC into a gaming PC in one click! Accelerate by tens of percent in one click. Don't worry about overheating anymore.
    </P>
    <div class="row main-btn-row">
      <div class="product-btn col-xxl-auto btn-main"><a type="button" class="btn btn-primary btn-xl" routerLink="/products" routerLinkActive="active">View Our Products</a></div>
      <div class="forum-btn col-xxl-auto btn-main"><a type="button" class="btn btn-secondary btn-xl" href="">Community Forums</a></div>
    </div>
  </div>
  <div class="col-xxl-7 d-none d-xxl-block" style="padding: 0">
    <app-big-picture [setImageList]="imageList"></app-big-picture>
  </div>
</div>
<div class="row mt-11" style="margin: 0">
  <div class="col-xxl-6 px-7">
    <P class="big-text m-0">Why Pick FPS Booster?</P>
    <P class="text-4 mb-7 text-small-secondary">We want to provide you with a user-friendly, and high-quality product, that gives you the best possible gaming experience.</P>
    <div class="d-flex">
      <div class="d-flex flex-shrink-0 align-self-start">
        <div class="d-flex align-items-center justify-content-center text-white rounded-1 bg-primary" style="width: 50px; height: 50px">
          <i class="bi bi-shield-check text-5"></i>
        </div>
      </div>
      <div class="mx-3">
        <P class="h4">Security First</P>
        <P class="text-4 text-small-secondary">Our first priority is the safety of our users accounts. We do everything we can to keep your accounts safe.</P>
      </div>
    </div>

    <div class="d-flex">
      <div class="d-flex flex-shrink-0 align-self-start">
        <div class="d-flex align-items-center justify-content-center text-white rounded-1 bg-primary" style="width: 50px; height: 50px">
          <i class="bi bi-people-fill text-5"></i>
        </div>
      </div>
      <div class="mx-3">
        <P class="h4">Community Driven</P>
        <P class="text-4 text-small-secondary">We actively monitor our community forums to look at suggestions provided by the community, you decide what we implement next.</P>
      </div>
    </div>

    <div class="d-flex">
      <div class="d-flex flex-shrink-0 align-self-start">
        <div class="d-flex align-items-center justify-content-center text-white rounded-1 bg-primary" style="width: 50px; height: 50px">
          <i class="bi bi-coin text-5"></i>
        </div>
      </div>
      <div class="mx-3">
        <P class="h4">Competitive Prices</P>
        <P class="text-4 text-small-secondary">We try to price our products accordingly and we frequently have discounts active, as well as "bundles" that will give you access to a selection of products for a discounted rate.</P>
      </div>
    </div>

    <div class="d-flex">
      <div class="d-flex flex-shrink-0 align-self-start">
        <div class="d-flex align-items-center justify-content-center text-white rounded-1 bg-primary" style="width: 50px; height: 50px">
          <i class="bi bi-gear-wide-connected text-5"></i>
        </div>
      </div>
      <div class="mx-3">
        <P class="h4">Customer Support</P>
        <P class="text-4 text-small-secondary">We have support staff located all over the world. No matter what time zone you are in, you will get a prompt and professional response to your inquiry.</P>
      </div>
    </div>
  </div>
  <div class="col-xxl-6 d-none d-xxl-inline-flex"  style="padding: 0">
    <img class="m-auto ratio" style="height: 520px; width: 820px" src="assets/images/Screenshot_2.png" alt=""/>
  </div>
</div>
